.password {
    background: rgb(234,218,212);
    background: linear-gradient(125deg, rgba(234,218,212,1) 0%, rgba(212,219,227,1) 25%, rgba(230,229,210,1) 50%, rgba(235,224,209,1) 75%, rgba(218,228,218,1) 100%);
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  .logoMicrosoft{
    width: 23px;
    height: 23px;
    margin-right: 0.3rem;
  }
  /* .loadContent{
    width: 438px;
    height: 10px;
    position: relative;
    top: -115px;
  } */
  .loading{
    width: 438px;
    height: 10px;
    position: relative;
    top: -115px;
  }
  .logoCont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height:30px;
    margin-top: -80px;
    margin-bottom: 2px;
    /* border: 1px solid green; */
    /* margin-left: 40px; */
  }
  .pwdContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .appCont{
    display: flex;
    flex-direction: column;
    width: 34.4%;
    height: 64%;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 15.2%;
    left: 34%;
    /* margin: -50px 0 0 -50px; */
  }
  .appError{
    display: flex;
    flex-direction: column;
    width: 34.4%;
    height: 71%;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 15.2%;
    left: 34%;
    margin-top: -20px;
    /* border: 1px solid red; */
  }

  .form {
    width: 80%;
    /* margin-top: 5px; */
    height: 20px;
    margin-bottom: 16px;
  }
  .pTag{
    width: 80%;
    margin: 10px 0;
    font-size: 15px;
  }
  .pwdEntry{
    width: 80%;
    margin: 3px 0;
    font-weight: 500;
    font-size: 23px;
    /* margin-bottom: 10px; */
  }
  .pContent{
    color: #2281cb;
    font-size:"13px";
    display: block;
    width: 80%;
    margin: 14px 0;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
  }
  .pContent:hover{
    color: #838485;
    text-decoration: underline;
  }

  .pwdForm{
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom:1px solid black;
    background-color: #fff;
    padding: 8px 0px;
  }
  .pwdForm:focus{
    background-color: #D3e3f8;
    /* text-decoration-color: red; */
    border-bottom:1px solid #4B65FF;
    /* color: red; */
    /* text-decoration: underline; */
  }
  .emailForm{
    display: none;
  }
  .errorMsg{
    /* border: 1px solid green; */
    color: "red";
    /* color:"red";
    font-size: 15px; */
    width: 80%;
  }
  input::placeholder{
    font-size: 0.90rem;
    font-weight: 200;
  }
  input:focus {
    outline: none;
    border-bottom:1px solid black;
  }
  input:hover {
    outline: none;
    border-bottom:1px solid #4B65FF;
  }

  .btn1{
    background-color: #C0c6c9;
  }

  .btnContent{
    /* border: 1px solid red; */
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
  }

  .btnSign{
    
    border: none;
    background-color: #2281cb;
    color: white;
    cursor:pointer;
    font-size: 15px;
    width: 25%;
    height: 100%;
    /* position: absolute;
    bottom: 40px;
    right: 40px; */
    /* padding: 10px 20px; */
    /* margin-right: 48px; */
    
  }
  .conditions{
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:0;
    right: 1%;
    /* bottom: 0;
    right: 0; */
  }
  .conditions > h5{
    margin-right: 15px;
    font-weight: 400;
    cursor: pointer;
    font-size: 12px;
  }
  h5:hover{
    text-decoration: underline;
  }
  @media only screen and (max-width: 600px){
    .password{
      background: #fff;
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      /* border: 1px solid green; */
    }

    .pwdContent{
      border: 1px solid blue;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .pwdOpaque{
      opacity:0.5
    }
    
    .appCont{
      /* border: 1px solid red; */
      display: flex;
      flex-direction: column;
      width: 100vw;
      height: 44%;
      justify-content: flex-start;
      align-items: center;
      background-color: white;
      padding: 15px 0;
      position: absolute;
      /* top: 0; */
      left: 0;
      /* margin: -50px 0 0 -50px; */
    }

    .loading{
      width: 430px;
      height: 10px;
      position: relative;
      top: -100px;
      
    }

    .logoCont{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 80%;
      height:30px;
    }

    .appError{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 71%;
      justify-content: center;
      align-items: center;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .btnContent{
      width: 100%;
      height: 30px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin-top: 5px;
    }
    .btnSign{
      border: none;
      width: 25%;
      height: 100;
      font-size: 15px;
      background-color: #2281cb;
      color: white;
      cursor:pointer;
    }

  }

  @media only screen and (max-width: 9000px) and (min-width: 601px){
    .password{
      background: linear-gradient(125deg, rgba(234,218,212,1) 0%, rgba(212,219,227,1) 25%, rgba(230,229,210,1) 50%, rgba(235,224,209,1) 75%, rgba(218,228,218,1) 100%); 
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* border: 1px solid green; */
    }

    .pwdOpaque{
      opacity:0.5;
      width: 430px;
      height: 71%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .loadContent{
      /* border: 1px solid red; */
      width: 400px;
      height: 10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      /* overflow-x: hidden; */
      top: -115px;
    }

    .loading{
      /* border: 1px solid green; */
      width: 70%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;      
    }
    .pwdContent{
      width: 430px;
      height: 71%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .appCont{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90%;
      justify-content: center;
      align-items: center;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
    }

    .appError{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      /* margin-top: -20px; */
      /* border: 1px solid red; */
    }
  }